/* Colors
Primary: #00C5AC
Secondary: #FF6A00
Dark Gray: #3A3A3A
Light Gray: #EBF7F5
*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #3a3a3a;
  font-size: 20px;
}

h1 {
  margin: 0;
}

a {
  color: #3E4A48;
  text-decoration: none;
}

a:hover {
  color: #8B9F63;
  text-decoration: underline;
}

ul {
  list-style: none;
}

#home {
  height: 80%;
}

#projects {
  height: 80%;
  background-color: rgba(62, 100, 128, 0.8);
  text-align: center;
  color: #D3DEDC;
}

#projects a {
  color: #EBF7F5;
}

.header {
  text-align: center;
  font-size: 80px;
  text-align: center;
}

.homepage {
  border-radius: 25px;
  position: relative;
  margin-bottom: 5%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.project {
  display: inline-block;
  width: 22%;
  padding-left: 25px;
  padding-right: 25px;
  margin: 1%;
  text-align: left;
  background-color: rgba(0,0,0,.2);
  border-radius: 25px;
  transition: all 0.5s;
}

.project:hover {
  background-color: rgba(0,0,0,.5);
  transition: all 0.5s;
}

.project h2 {
  display: inline-block;
  width: 80%;
}

.right {
  float: right;
  padding-top: 20px;
  width: 18%;
}

.primary-color {
  background-color: rgba(243, 243, 243, 0.5);
}

.secondary-color {
  background-color: rgba(243, 243, 243, 0.8);
}

.devicon {
  font-size: 46px;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: -10px;
  right: -5px;
  border: 5px solid rgba(243, 243, 243, 0.5);
  border-top-left-radius: 25px;
  background-color: rgba(243, 243, 243, 0.2);
}

footer li {
  display: inline;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 100px;
}

#home p {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  #home p {
    font-size: 14px;
  }
  #home img {
    width: 100%;
  }
  .devicon {
    font-size: 20px;
  }
  #projects .devicon {
    font-size: 35px;
  }
  #projects {
    height: auto;
  }
  .homepage {
    padding: 5%;
  }
  .header {
    font-size: 22px;
  }
  .project {
    width: 80%;
    margin-bottom: 5%;
  }
  footer {
    position: relative;
    right: 0;
    border-radius: 0;
    text-align: center;
  }
}

/* ParticlesJS */
canvas {
  display: fixed;
  vertical-align: bottom;
}

#particles {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/bg.png');
  background-repeat: no-repeat;
  z-index: -1;
}
